// Base project settings

:root {
  // Colors
  --text-color-black: #000000;
  --text-color-gray: #737373;
  --text-color-blue: #38bcea;
  --text-color-deepblue: #12354b;
  --text-color-accent: #ffffff;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f2f3f5;
  --bg-color-accent: #38bcea;

  // Offsets
  // --content-width: 1170px;
  // --container-offset: 15px;
  // --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}
